@{
    ViewBag.Title = "Followers Page";
}

<div style="padding-left:150px">
     <div class ="col-md-12" style="padding:100px">

         <!--The profile photo of the friend -->
         <div class="col-md-3 ">
            <img src="Images/placeholderProfile.jpg" class="profileFollowers" />
       
         </div>

         <!--The name of the friend -->
         <div class="col-md-4">
             <div class="profileText" style="padding:35px">Sbora Sorin</div> 


         </div>

         <!--The option to follow the person -->
         <div class="col-md-5">
             <div style="padding:15px"></div>
             <input type="button" class="btn btn-default" style="width:120px" value="Follow">

         </div>
     </div>


     <div class ="col-md-12" style="padding:100px">

         <!--The profile photo of the friend -->
         <div class="col-md-3 ">
            <img src="Images/placeholderProfile.jpg" class="profileFollowers" />
       
         </div>

         <!--The name of the friend -->
         <div class="col-md-4">
             <div class="profileText" style="padding:35px">Spatarelu Andrei</div> 


         </div>

         <!--The option to follow the person -->
         <div class="col-md-5">
             <div style="padding:15px"></div>
             <input type="button" class="btn btn-default" style="width:120px" value="Follow">

         </div>
     </div>


     <div class ="col-md-12" style="padding:100px">

         <!--The profile photo of the friend -->
         <div class="col-md-3 ">
            <img src="Images/placeholderProfile.jpg" class="profileFollowers" />
       
         </div>

         <!--The name of the friend -->
         <div class="col-md-4">
             <div class="profileText" style="padding:35px">Surcel Laura</div> 


         </div>

         <!--The option to follow the person -->
         <div class="col-md-5">
             <div style="padding:15px"></div>
             <input type="button" class="btn btn-default" style="width:120px" value="Follow">

         </div>
     </div>

         <div class ="col-md-12" style="padding:100px">

         <!--The profile photo of the friend -->
         <div class="col-md-3 ">
            <img src="Images/placeholderProfile.jpg" class="profileFollowers" />
       
         </div>

         <!--The name of the friend -->
         <div class="col-md-4">
             <div class="profileText" style="padding:35px">Name 1121</div> 


         </div>

         <!--The option to follow the person -->
         <div class="col-md-5">
             <div style="padding:15px"></div>
             <input type="button" class="btn btn-default" style="width:120px" value="Follow">

         </div>
     </div>

         <div class ="col-md-12" style="padding:100px">

         <!--The profile photo of the friend -->
         <div class="col-md-3 ">
            <img src="Images/placeholderProfile.jpg" class="profileFollowers" />
       
         </div>

         <!--The name of the friend -->
         <div class="col-md-4">
             <div class="profileText" style="padding:35px">Name 5</div> 


         </div>

         <!--The option to follow the person -->
         <div class="col-md-5">
             <div style="padding:15px"></div>
             <input type="button" class="btn btn-default" style="width:120px" value="Follow">

         </div>
     </div>
</div>